[MASTER]

# https://github.com/golemfactory/golem-messages/issues/89
ignore=cryptography.py

[MESSAGES CONTROL]
disable=invalid-name,                   # Pylint is overzealous here
        missing-docstring,              # We don't need a docstring for obvious things!
        access-member-before-definition,
        fixme,
        no-member,

[TYPECHECK]

# List of class names for which member attributes should not be checked (useful
# for classes with dynamically set attributes). This supports the use of
# qualified names.

ignored-classes=optparse.Values,
                thread._local,
                _thread._local,
                twisted.internet.reactor,
                pathlib.PurePath,
                types,
